<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mailing Service{% endblock %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <a href="{% url 'recipient_list' %}">Получатели</a>
            <a href="{% url 'message_list' %}">Сообщения</a>
            <a href="{% url 'newsletter_list' %}">Рассылки</a>
            <a href="{% url 'attempt_list' %}">Попытки</a>
            {% if user.is_manager %}
                <a href="{% url 'admin:index' %}">Админка</a>
            {% endif %}
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>